.form {
      background: white;
      padding: 20px;
      display: grid;
      grid-template-columns: 5fr 1fr;
      grid-template-rows: 2;
      grid-gap: 20px;
}

@media (max-width:767px) {
      .form {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
      }
}

.form_button {
      background-color: teal;
      color: white;
      border: none;
      padding: 10px 0px;
}

.form_button:active {
      border: 2px solid black;
      border-radius: 2px;
}

@media (max-width:767px) {
      .form_button:active {
            border: none;
      }
}

.form_input {
      padding: 10px;
      border: 2px solid #EEEDEF;
}