.tasks__header {
      padding: 20px;
      margin: 10px 0px 2px;
      font-size: 20px;
      background: white;
}

.tasks__element {
      list-style: none;
      padding: 20px;
      padding-top: 35px;
      margin: 0px 0px 2px;
      font-size: 20px;
      background: white;
}

.tasks__content {
      background: white;
      border-bottom: 2px solid #EEEDEF;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.tasks__name {
      flex-grow: 1;
      text-align: left;
      word-break: break-word;
      font-size: 16px;
      padding-left: 5px;
}

.tasks__name--done {
      flex-grow: 1;
      text-decoration: line-through;
      word-break: break-word;
      font-size: 16px;
      padding-left: 5px;
}

.tasks__button {
      border: none;
      color: white;
      width: 30px;
      height: 30px;
      padding: 0px;
      margin: 5px;
      flex-shrink: 0;

}

.tasks__button--toggleDone {
      background: rgb(26, 122, 32);
}

.tasks__button--toggleDone:active {
      border: 2px solid black;
      border-radius: 2px;
}

@media (max-width:767px) {
      .tasks__button--toggleDone:active {
            border: none;
      }
}

.tasks__button--remove {
      background: crimson;
}

.tasks__button--remove:active {
      border: 2px solid black;
      border-radius: 2px;
}

@media (max-width:767px) {
      .tasks__button--remove:active {
            border: none;
      }
}